.shekinah-bg-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.frame-icon {
  position: absolute;
  top: 10px;
  left: 18px;
  width: 1381px;
  height: 29px;
  overflow: hidden;
}
.login-container {
  position: absolute;
  top: 270px;
  left: 442px;
  border-radius: 50px;
  background-color: rgba(135, 206, 235, 0.8);
  width: 555px;
  height: 665px;
}
.logo-icon1 {
  position: absolute;
  top: 322px;
  left: 605px;
  width: 229px;
  height: 218px;
  object-fit: contain;
}
.emailuser-box {
  position: absolute;
  top: 626px;
  left: 521px;
  background-color: rgba(255, 255, 255, 0.85);
  width: 398px;
  height: 65px;
}
.email-username {
  position: absolute;
  top: 0px;
  left: 0px;
}
.frame1 {
  position: absolute;
  top: 586px;
  left: 521px;
  width: 386px;
  height: 33px;
  overflow: hidden;
}
.password-box-icon {
  position: absolute;
  top: 740px;
  left: 521px;
  width: 398px;
  height: 65px;
}
.password {
  position: absolute;
  top: 699px;
  left: 521px;
}
.log-in {
  position: absolute;
  top: 12px;
  left: 39px;
  font-size: var(--font-size-16xl);
  font-family: var(--font-roboto-slab);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 121.9px;
  height: 37.4px;
}
.log-in-wrapper {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--color-steelblue-100);
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 200px;
  height: 68px;
}
.frame-inner {
  position: absolute;
  top: 851px;
  left: 628px;
  width: 200px;
  height: 68px;
}
.frame {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}
.log-in-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-roboto-slab);
}
