body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto-slab: "Roboto Slab";
  --font-myanmar-khyay: "Myanmar Khyay";

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-66xl: 85px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-16xl: 35px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-26xl: 45px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-steelblue-100: #2183bc;
  --color-steelblue-200: rgba(33, 131, 188, 0.7);
  --color-skyblue-100: #87ceeb;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-xl: 20px;
}
